{% extends "base.html" %} {% block content %}
<h4>Forecast name: {{ forecast_name }}</h4>
<p>
  This will be a date range forecast. It needs a start and end date. This will
  be split into five ranges.
</p>
<form hx-get="/forecast/{{ forecast_id }}/_generate_ranges">
  <label for="date"
    >Start date
    <input required type="date" id="start_date" name="start_date" />
  </label>
  <label for="date"
    >End date
    <input required type="date" id="end_date" name="end_date" />
  </label>
  <button>Create ranges</button>
</form>

{#
<div>{% include "_create_ranges.html" %}</div>
#} {#
<div id="ranges"></div>
#} {% endblock content %}
