<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/static/htmx.min.js" defer></script>
    <script src="/static/feather.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />

    {#
    <link rel="stylesheet" href="/static/pico.min.css" />
    #}

    <link rel="stylesheet" href="/static/custom.css" />
    <title>Forecaster</title>
  </head>
  <body>
    <main class="container">
      <header>
        <h1>Forecaster</h1>
      </header>
      <section>{% block content %} {% endblock content %}</section>
    </main>
  </body>
</html>
