<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="static/htmx.min.js" defer></script>
    <link rel="stylesheet" href="static/pico.min.css" />
    <link rel="stylesheet" href="static/custom.css" />
    <title>Forecaster</title>
  </head>
  <body>
    <main class="container">
      <div class="grid">
        <aside>
          <h3>Existing forecasts</h3>
          <div hx-get="/list" hx-trigger="load">
            <ul>
            </ul>
          </div>
        </aside>
        <section>
            {% block content %}
            {% endblock content %}
        </section>
      </div>
    </main>
  </body>
</html>
